.dialogPaper {
  min-width: 80vw;
  height: 80vh;
  max-height: 1024px;
  background-color: var(--palette-common-grey-25);

  @media (--viewport-md) {
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    max-height: unset;
  }
}

.closeButton {
  position: absolute;
  right: 4px;
  top: 4px;
}

.overview {
  display: flex;
  padding: 12px;
  flex-direction: column;
  .title {
    margin: 12px 0px;
  }
  .tagContainer {
    margin-top: 16px;
  }
  .chipsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.syllabus {
  display: flex;
  padding: 12px;
  flex-direction: column;
  .weekTitle {
    margin: 24px 0px 12px;
  }
  .title {
    margin: 8px 0px 12px;
  }
  .resourceListItem {
    padding-left: 8px;
  }
  .resourceListItemIcon {
    min-width: 44px;
  }
}
