.container {
  display: flex;
  width: 100%;
  align-items: center;
}

.gridContainer {
  min-height: calc(100vh - var(--mixins-toolbar-minHeight) - 24px);
}

.gridItem {
  display: flex;
  flex-direction: column;
}

.swiperRoot {
  width: 100%;
  :root {
    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      height: calc(100% + 32px);
      width: 60px;
      color: #000;
    }
  }
}
