@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal,
body {
  font-family: "Poppins", sans-serif;
}

.reveal pre {
  background: #073642;
  padding: 16px;
}

.reveal .whitelink a {
  color: #4c5860;
}
