.toolbar {
  max-width: calc(var(--breakpoints-values-lg) * 1px);
  width: 100%;
  margin: auto;

  .search {
    margin-left: auto;
    position: absolute;
    right: 8px;
  }
}

.drawerBox {
  padding: 0px 0px 32px;
  width: 70vw;
  max-width: 320px;
  display: flex;
  flex-direction: column;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 24px;
    background-color: var(--palette-primary-main);
  }

  .title {
    padding: 0px 24px;
    margin: 24px 0 16px;
  }
}
