.gridItem {
}

.courseItemCard {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    box-shadow: var(--shadows-4);
  }
}

div.gridContainer {
  margin-top: 0px;
}
